body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: yellow;
  height: 60px;
  width: 100%;
  padding: 30px;
}

header h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 3em;
}

nav {
  background-color: green;
  float: left;
  width: 375px;
  margin: 0 auto;
  height: 100vmax;
  padding: 10px;
}

article {
  background-color: red;
}

section {
  background-color: gray;
}

body {
}

main {
  background-color: purple;
  height: 100vmax;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin: 0 auto;
}

p {
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: blue;
  padding: 10px;
}
